# Stock Scanner Notebook

This notebook shows examples on how to acquire and analyze stock data using nasdaqdatalink and yfinance

In [52]:
import nasdaqdatalink as nd
import yfinance as yf 
import pandas as pd
import pandas_ta as ta

In [61]:
df = pd.DataFrame() # Empty DataFrame

In [65]:
df = df.ta.ticker("aapl")

AttributeError: 'NoneType' object has no attribute 'ta'

In [27]:
# print the latest 3 items
print(df.tail(3))

              Open    High     Low    Last   Close  Total Trade Quantity  \
Date
2019-01-02  175.80  176.20  171.00  172.35  172.40              722532.0
2019-01-03  172.80  175.70  171.50  172.00  172.00              698190.0
2019-01-04  172.05  174.95  172.05  174.55  174.55              431122.0

            Turnover (Lacs)
Date
2019-01-02          1251.85
2019-01-03          1212.34
2019-01-04           749.99

In [28]:
# print the oldest 2 items
print(df.head(2))

              Open    High     Low    Last    Close  Total Trade Quantity  \
Date
2009-09-30  1096.0  1156.7  1090.0  1135.0  1141.20            19748012.0
2009-10-01  1102.0  1173.7  1102.0  1167.0  1166.35             3074254.0

            Turnover (Lacs)
Date
2009-09-30        223877.07
2009-10-01         35463.78

## Now lets import the pandas_ta library which provides technical analysis functions for our new DataFrame

In [46]:
# VWAP requires the DataFrame index to be a DatetimeIndex.
# Replace "datetime" with the appropriate column from your DataFrame
# df.set_index(pd.DatetimeIndex(df["Date"]), inplace=True)